/*
Original design: andreas08-alt (v2.0 - Oct 17, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas08/
*/

/* Body and tag styles */
* {margin:0; padding:0;}
body {font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.4em; text-align:center; color:#303030; background:#94938D;}
body {
    overflow: scroll;
}
a {color:#636a46; font-weight:bold; text-decoration:none; background-color:inherit;}
/*a {color:#AFB595; font-weight:bold; text-decoration:none; background-color:inherit;}*/
a:hover {color:#636a46; text-decoration:none; background-color:inherit;}
a img {border:none;}
p {padding:0 0 1.6em 0;}
p form {margin-top:0; margin-bottom:20px;}
img.left,img.center,img.right {padding:4px; }
img.left {float:left; margin:0 12px 5px 0;}
img.center {display:block; margin:0 auto 5px auto;}
img.right {float:right; margin:0 0 5px 12px;}
/* Mathjax fix */
code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color:#303030 }

/* Header and navigation styles */
#container {width:760px; margin:20px auto; padding:1px 0; text-align:left; background:#ffffff; color:#303030;}
#header {height:104px; width:758px; margin:0 1px 1px 1px; background:#AFB595 url(../images/Moissanite__R150016__Sample__Photo__34845__zoom.jpg) top left no-repeat; color:#444;}
#header h1 {padding:40px 0 0 420px; font-size:3.4em; color:#552316; letter-spacing:-2px; font-weight:bold;}
#header h2 {margin:20px 0 0 430px; font-size:1.4em; color:#444; letter-spacing:-1px; font-weight:normal;}
#navigation {height:2.2em; line-height:2.2em; width:758px; margin:0 1px; background:#636a46; color:#ffffff;}
#navigation li {float:left; list-style-type:none; border-right:1px solid #ffffff; white-space:nowrap;}
#navigation li a {display:block; padding:0 10px; font-size:0.8em; font-weight:normal; text-transform:uppercase; text-decoration:none; background-color:inherit; color: #ffffff;}
* html #navigation a {width:1%;}
#navigation .selected,#navigation a:hover {background:#AFB595; color:#ffffff; text-decoration:none;}


/* Content styles */
/* Applies to EVERYTHING! (must be overriden with !important */
.content {float:left; width:720px; font-size:0.9em; padding:20px 0 10px 20px;}
.content h2 {display:block; margin:0 0 16px 0; font-size:1.7em; font-weight:normal; letter-spacing:-1px; color:#505050; background-color:inherit;}
.content h2 a {font-weight:normal;}
.content h3 {margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
.content a:hover,#subcontent a:hover {text-decoration:underline;}
.content ul,.content ol {margin:0 5px 16px 35px;list-style: outside disc; margin-left: 1em;}
.content ul li {position: relative; left: 2em;padding-right: 2em;   }
.content dl {margin:0 5px 10px 25px;}
.content dt {font-weight:bold; margin-bottom:5px;}
#content dd {margin:0 0 10px 15px;}

/* Tag cloud style */
.tags li { display:inline !important; background:#EEE !important;text-align: center !important; padding-right: 0em !important;left:0 !important; position:relative !important; list-style:none !important;}
.tags ul { margin: 0 !important; margin-left:0em !important; list-style:none !important;}
.tagvec { background:#EEE; padding-right: 0em !important;}

/* Sidebar styles */
#subcontent {float:right; width:170px; padding:20px 20px 10px 0; line-height:1.4em;}
#subcontent h2 {display:block; margin:0 0 15px 0; font-size:1.5em; font-weight:normal; text-align:left; letter-spacing:-1px; color:#505050; background-color:inherit;}
#subcontent p {margin:0 0 16px 0; font-size:0.9em;}


/* Menublock styles */
.menublock {margin:0 0 20px 8px; font-size:0.9em;}
.menublock li {list-style:none; display:block; padding:2px; margin-bottom:2px; padding-right: 2em;   }
.menublock li a {font-weight:bold; text-decoration:none; padding-right: 2em;   }
.menublock li a:hover {text-decoration:none; padding-right: 2em;   }
.menublock li ul {margin:3px 0 3px 15px; font-size:1em; font-weight:normal; padding-right: 2em;   }
.menublock li ul li {margin-bottom:0; padding-right: 2em;   }
.menublock li ul a {font-weight:normal; padding-right: 2em;   }


/* Searchbar styles */
#searchbar {margin:0 0 20px 0;}
#searchbar form fieldset {margin-left:10px; border:0 solid;}
#searchbar #s {height:1.2em; width:110px; margin:0 5px 0 0; border:1px solid #a0a0a0;}
#searchbar #searchbutton {width:auto; padding:0 1px; border:1px solid #808080; font-size:0.9em; text-align:center;}

/* Footer styles */
#footer {clear:both; width:758px; padding:5px 0; margin:0 1px; font-size:0.9em; background:#AFB595 url() bottom left no-repeat; color:#444;}
#footer p {padding:0; margin:0; text-align:center;}
#footer a {color:#444; font-weight:400;}
#footer a:hover {color:#444; text-decoration: underline;}



/* Misc classes and styles */
.floatleft {float:left;margin-right: 10px;}
.floatright {float:right;margin-left: 10px;}
.caption {text-align:right; font-style: italic;}
.splitleft {float:left; width:58%;}
.splitright {float:right; width:38%;}
.clear {clear:both;}
.small {font-size:0.8em;}
.hide {display:none;}
.textfull{text-align: justify; text-justify: inter-word;}
.textcenter {text-align:center;}
.textright {text-align:right;}
.important {color:#f02025; background-color:inherit; font-weight:bold;}
.box {margin-bottom:20px; padding:10px; border:1px solid #636a46; background-color:#E1E3D4; color:#444; line-height:1.5em;}
