
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="your,keywords,goes,here" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main_pd.css" title="andreas08" media="screen,projection";/>
    <title>Przemek's Research</title>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77542298-1', 'auto');
  ga('send', 'pageview');

</script>
<div id="container" >
    <div id="header">
		<img id="img1" src="../images/Moissanite__R150016__Sample__Photo__34845__zoom.jpg" />
		<img id="img2" src="../images/software.jpg" />
        <h1>Przemek Dera</h1>
        <h2>Extreme Conditions Research
		<br>
        Mineral Physics and Materials Science</h2>
    </div>
