
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="your,keywords,goes,here" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main_pd.css" title="andreas08" media="screen,projection";/>
    <title>Przemek's Research</title>
</head>
<body>

<div id="container" >
    <div id="header">
		<img id="img1" src="../images/Moissanite__R150016__Sample__Photo__34845__zoom.jpg" />
		<img id="img2" src="../images/Publications_banner.jpg" />
        <h1>Przemek Dera</h1>
        <h2>Extreme Conditions Research
		<br>
        Mineral Physics and Materials Science</h2>
    </div>
