<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<div id="navigation">
    <ul>
            {% if page.active == "home" %}
            <li class="selected"><a href="/index.html">Home</a></li>
            {% else %}
            <li><a href="/index.html">Home</a></li>
            {% endif %}
			
			{% if page.active == "products" %}
            <li class="selected"><a href="/index.html">Products</a></li>
            {% else %}
            <li><a href="/index.html">Products</a></li>
            {% endif %}

            {% if page.active == "Software" %}
            <li class="selected"><a href="/software.html">Software</a></li>
            {% else %}
            <li><a href="/software.html">Software</a></li>
            {% endif %}

			{% if page.active == "News" %}
            <li class="selected"><a href="/news.html">News</a></li>
            {% else %}
            <li><a href="/news.html">News</a></li>
            {% endif %}

            {% if page.active == "Media" %}
            <li class="selected"><a href="/socialmedia.html">Media</a></li>
            {% else %}
            <li><a href="/socialmedia.html">Media</a></li>
            {% endif %}
			
        </ul>
	</div>
    <div class="content">
